{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-home").classed("active", true);
</script>
<!-- Load Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- Load CSS Files -->
<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<link href="../static/css/slider.css" rel="stylesheet" type="text/css">
<link href="../static/css/treemap.css" rel="stylesheet" type="text/css">
<!-- Load JavaScript Files -->
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="../static/js/tooltip.js"></script>
<script type="text/javascript" src="../static/js/treemap.js"></script>
<script type="text/javascript" src="../static/js/world.js"></script>
<script type="text/javascript" src="../static/js/Stacked_zoom_chart.js"></script>

<!-- Begin page content -->
<H2 class="col-sm-12">Voting history of the Netherlands</H2>

<div id="stacked_bar_chart"></div>

<div class="row col-lg-12 slider_container">
    <div class="col-lg-1">
        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="playButton()"><i id="playbutton" class="fas fa-play"></i></button>
    </div>
    <div class="col-lg-11">
        <input id="yearRange" class="slider" type="range" min="0" max="27" step="1" value="27" data-show-value="true">
    </div>
    <p id="yearValue" class="col-lg-12 text-center">2017</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6" id="treemap"></div>
        <div class="col-lg-6" id="map_netherlands"></div>
    </div>
</div>

<!-- End page content -->




<script type="text/javascript">
	///////////// SCRIPT /////////////
	var yearArray = [1918, 1922, 1925, 1929, 1933, 1937, 1946, 1948, 1952, 1956, 1959, 1963, 1967, 1971, 1972, 1977, 1981, 1982, 1986, 1989, 1994, 1998, 2002, 2003, 2006, 2010, 2012, 2017];
	var slider = document.getElementById("yearRange");
    var output = document.getElementById("yearValue");
    output.innerHTML = yearArray[slider.value]; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      output.innerHTML = yearArray[this.value];
    }

    function playButton() {
        console.log("Test Play Button");
        document.getElementById("playbutton")
    }


	//const data = FileAttachment("static/test_set.json").json()
	//console.log("Data loaded:");
	//console.log(data);

    createNLMap(yearid = 27);
    createStackedchart();

    d3.json("static/data/data.json", function(error, data) {
        if (error) throw error;
        console.log(data);

        node = createTreemap(data);

        //Put slider update functions here:
        d3.selectAll("#yearRange").on("change", function change() {
            var YearID = this.value;
            //updateNLMap(YearID);
            updateTreemap(data, node, YearID);
        });
     });
</script>

{% endblock %}