{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-home").classed("active", true);
</script>
<!-- Load Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- Load CSS Files -->
<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<link href="../static/css/slider.css" rel="stylesheet" type="text/css">
<link href="../static/css/treemap.css" rel="stylesheet" type="text/css">
<!-- Load JavaScript Files -->
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="../static/js/tooltip.js"></script>
<script type="text/javascript" src="../static/js/treemap.js"></script>
<script type="text/javascript" src="../static/js/world.js"></script>
<script type="text/javascript" src="../static/js/Stacked_zoom_chart.js"></script>
<script type="text/javascript" src="../static/js/play_button.js"></script>

<!-- Begin page content -->
<H2 style="padding-top: 20px; padding-bottom: 20px;">Voting history of the Netherlands</H2>

<div class="container no-gutters">
    <div class="row no-gutters">
        <div class="col-lg-6 no-gutters">
            <H5 style="padding-left: 5px;">Distribution of votes</H5>
            <div class="no-gutters" id="treemap"></div>
        </div>
        <div class="col-lg-6 no-gutters">
            <H5 style="padding-left: 30px;">Most voted political movement per provence</H5>
            <div class="no-gutters" id="map_netherlands"></div>
            <p class="col-lg-12 no-gutters text-muted font-italic" style="padding-left: 35px;">Select a province to see its distribution of votes</p>
        </div>
    </div>
</div>

<div class="row no-gutters slider_container" style="padding-top: 20px; padding-bottom: 10px;">
    <div class="col-lg-1 text-center no-gutters">
        <button type="button" id="button_play" class="btn btn-outline-secondary btn-sm center" onclick="buttonPlayPress()"><i class="fas fa-play"></i></button>
    </div>
    <div class="col-lg-11 no-gutters">
        <input id="yearRange" class="slider" type="range" min="0" max="27" step="1" value="27" data-show-value="true">
        <div id="yearRangeShadow"></div>
    </div>
    <p id="yearValue" class="col-lg-12 no-gutters text-center">2017</p>
</div>

<div class="container no-gutters">
    <H5 style="padding-left: 5px;">Voting timeline</H5>
    <form id="stacked_bar_form" class="text-center">
        <input class = "radio_Mov" type="radio" name="stack" value="percentages" checked> Percentages &nbsp;&nbsp;
        <input class = "radio_Mov" type="radio" name="stack" value="absolutes" > Absolutes
    </form>
    <div class="legend4 text-center" style="padding-top:10px;"></div>
    <div class="row no-gutters" id="stacked_bar_chart"></div>
    <p class="col-lg-12 no-gutters text-right text-muted font-italic">Double click to remove selection.</p>
</div>


<!-- End page content -->




<script type="text/javascript">
	///////////// SCRIPT /////////////
	const yearArray = [1918, 1922, 1925, 1929, 1933, 1937, 1946, 1948, 1952, 1956, 1959, 1963, 1967, 1971, 1972, 1977, 1981, 1982, 1986, 1989, 1994, 1998, 2002, 2003, 2006, 2010, 2012, 2017];
	var slider = document.getElementById("yearRange");
    var output = document.getElementById("yearValue");
    output.innerHTML = yearArray[slider.value]; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.onchange = function() {
        output.innerHTML = yearArray[this.value];
    }

	var state = 'pause';
    var myTimer;
    var selectedRegion = "Total";
    var YearID = 27;

    var colorScheme = d3.schemeSet1
	const color = d3.scaleOrdinal().range([colorScheme[1], colorScheme[2], colorScheme[0], colorScheme[3], "gray"]);

    createNLMap(YearID);
    createStackedchart("percentages");

    d3.json("static/data/data.json", function(error, data) {
        if (error) throw error;
        console.log(data);

        node = createTreemap(data);

        //Put slider update functions here:
        d3.select("#yearRange").on("change", function change() {
            YearID = this.value;
            if (YearID < 18 && selectedRegion == "Flevoland") {selectedRegion = "Total"};

            updateNLMap(YearID);
            updateTreemap(data, node, YearID);
        });

        d3.select("#yearRangeShadow").on("change", function change() {
            updateTreemap(data, node, YearID);
        });

        d3.selectAll("input[class='radio_Mov']").on("change", function(){
            console.log(this.value)
            createStackedchart(this.value)
        });
     });
</script>

{% endblock %}